<div class="media">
    <div class="media-left">
        <img src="img/logo.png" />
    </div>
    <div class="media-body">
        <h3>Charismatic Baptist Church, Taifa</h3>
        <h4>
            30<sup>th</sup> Anniversary Inter-Church Bible Quiz
        </h4>
    </div>
</div>