<div class="media">
    <div class="media-left">
        <img src="img/logo.png" />
    </div>
    <div class="media-body">
        <h2>Charismatic Baptist Church, Taifa</h2>
        <h3>
            30<sup>th</sup> Anniversary Inter-Church Bible Quiz
        </h3>
    </div>
</div>